@import "tailwindcss";
@import 'highlight.js/styles/github-dark.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes gradient-flow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background: linear-gradient(45deg, #3b82f6, #8b5cf6, #ec4899);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-flow 6s ease infinite;
}

/* 手动实现加载动画 */
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.transition-opacity {
  animation: fade-in 1s ease-out;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.rehype-code-title {
  background: #2d2d2d;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-family: monospace;
  font-size: 0.875rem;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: -0.5rem;
}

.mdx-prose pre {
  border-radius: 0 0 5rem 5rem !important;
}

.mdx-prose table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
 
.mdx-prose th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
 
.mdx-prose th {
  background-color: #f2f2f2;
}
 
.mdx-prose h2{
  font-weight:600;
  font-size:1.3rem;
  margin-top:1.5rem;
  margin-bottom: 1rem;
  color: #222;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5em;
  /* margin:2rem 0 1.2rem 0;
  border-bottom: 1px solid gray;
  padding-bottom:0.3em */
}

.mdx-prose h3{
  font-size:1.10rem;
  margin:1.1rem 0 1.1rem 0;
  font-weight:600
}

.mdx-prose code{
  margin:1.1rem 0 1.1rem 0;
  border-radius: 1.05rem;
}

.mdx-prose p {
  margin-bottom: 1rem; /* 段落间距 */
  color: #444;
  line-height:1.6;
}

/* 无序列表样式 */
.mdx-prose ul {
  list-style-type: disc; 
  padding-left: 1.5em;
  margin-bottom: 1.5em;
}
 
.mdx-prose ul li {
  font-size: 16px;
  margin-bottom: 0.5em;
  color: #555;
}
 
/* 有序列表样式 */
.mdx-prose ol {
  list-style-type: decimal;
  padding-left: 1.5em;
  margin-bottom: 1.5em;
}
 
.mdx-prose ol li {
  margin-bottom: 0.5em;
  color: #555;
}

.mdex-prose a{
  color: #087EA4;
}